/* 隐藏id */
.user-des .name.user-id{display: none;}
/* 去掉滚动条 */
::-webkit-scrollbar{width:0px}
body {
    margin: auto;
    color: #333;
    background-color: #f2f2f2;
    position: relative;
}
body {
    font: 100%/1.5 "Helvetica Neue",Helvetica,Arial,\5B8B\4F53,sans-serif;
}
.guide-big-img-mask .rec_tip p{
    margin: 0 auto;
    margin-top: 8px;    
    text-align: left;
    margin-left: 26%;
    font-size: 15px;
}
@media screen and (max-width:350px) {
    .guide-big-img-mask .rec_tip p{    font-size: 13px;} 
}

.tip-text{color: #fff!important;}
.lf,.fl{
    float: left;
}
.rt,.fr{
    float: right;
}
.clr{
    clear: both;
}
.red{color:red!important;}
.orange{color: #ff9600}
.qxblue{color: #1ea4f2}
.hidden{display:none!important;}

.user-name-18{font-size: 18px;}
/* display:flex */
.flex-box,.publish-tab{
    display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display: flex;
}
.publish-tab{
    position: relative;
}
.publish-tab .publish-btn{  display: inline-block;position: absolute;right: 0;}

a:hover{text-decoration: none!important;}

/* 用户中心输入联系方式样式 */
input[type="text"]:focus {
    outline: 0;
    border: 0;
}
/* 帖子标题盒子 */
.bulletin-li {
    /* text-align: left;
    padding: 6px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align:center;
    -webkit-align-items:center;
    -ms-flex-align:center;
    align-items:center; */
    text-align: left;
    padding: 10px 0;
}
/* 帖子标题 */
.bulletin-title{text-align: left;
    padding-left: 5px;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #333;
    font-weight: 700;
}
/* 帖子标题标签 */
.bulletin-icon{background-color:#ff9600;color:#fff;    border-radius: 4px;    font-size: 14px;float: left;padding: 0 2px;margin: 0 2px;white-space: nowrap;    display: inline-block;
    line-height: 22px;}
.essence-icon{background-color:#ed565a;color:#fff;    border-radius: 4px;    font-size: 14px;float: left;padding: 0 2px;margin: 0 2px;white-space: nowrap;    display: inline-block;
    line-height: 22px;}
.official-icon{background-color:#1ea4f2;color:#fff;    border-radius: 4px;    font-size: 14px;float: left;padding: 0 2px;margin: 0 2px;white-space: nowrap;    display: inline-block;
    line-height: 22px;}
.extend-icon{background-color:#8BC34A;color:#fff;    border-radius: 4px;    font-size: 14px;float: left;padding: 0 2px;margin: 0 2px;white-space: nowrap;    display: inline-block;
    line-height: 22px;}
.active-icon{background-color:#66d2e0;color:#fff;    border-radius: 4px;    font-size: 14px;float: left;padding: 0 2px;margin: 0 2px;white-space: nowrap;    display: inline-block;
    line-height: 22px;}

/* 帖子正文字号 */
.post_text_size,.post_text_size p,.post_text_size div,.text-16{
    font-size: 16px;
}

/* 黑色字体 */
.black-font{color: #333;}
/* 灰色字体 */
.gray-font{color: #949494;}
.discuss-box {text-align: left;padding-bottom: 4px;padding-top: 3px;color: #949494;}

/* 仅显示两行其余省略号 */
.show_2_line{
    text-align: left;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-height: 46px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.discuss-discuss li{font-size: 16px;    color: #949494;border-bottom: 1px solid #e5e5e5;padding: 5px 0;}
.discuss-discuss li:last-child{border-bottom: 0;}
.discuss-discuss li div{font-size: 16px;}

/* .discuss-discuss-text span.user-name,.discuss-discuss .discuss-user-name{
    color: #949494;
} */

.comment-details li span.user-name,.the_replies,.discuss-discuss-text span.user-name,.discuss-discuss .discuss-user-name{
        color: #333!important;
}


.q_layout {
    width: 100%;    max-width: 100%;
}
.section{
    margin-bottom: 10px;
    background-color: #fff;
    padding: 0 14px;
}
.nocontent{border-top: 1px solid #e5e5e5;}

.gamelist {
    position: relative;
    text-align: left;
    width: 100%;
    box-sizing: border-box;
    background: #fff;
    padding: 14px;
    height: 100px;
}

.topic_tab h2 {
    padding: 6px 0;
    font-size: 18px;
    font-weight: 400;
    color: #949494;
    width: 49%;
}
.q_box_header h3 {
    position: absolute;
    left: 0px;
    top: 5px;
    font-size: 18px;
    font-weight: 400;
    color: #333;
    border-left: 4px solid #1ea4f2;
    padding-left: 7px;
}
.gamelist .header-icon-body {
    float: left;
    width: 72px;
    height: 72px;
    display: inline-block;
}
.gamelist .header-icon-body img {
    width: 100%;
    border-radius: 18%;
}
.gamelist .main-header-text {
    margin: 0;
    display: inline-block;
    height: auto;
    text-align: left;
    padding: 0px 0px 0px 10px;
}
.gamelist .main-header-text p{text-align:left;}


.comment-con{text-align: left;padding: 6px 0;border-bottom: 1px solid #e5e5e5;margin: 0 16px;}
/* 底部的发布按钮开始--- */
.bottom-nav{z-index: 99;}
.bottom-nav {
    max-width: 650px;
    position: fixed;
    text-align: center; 
    bottom: 0px;
    background-color: #fff;
    width: 100%;
    padding: 0 10px;
    height: 44px;
    border-top: 1px solid #e5e5e5;
}
.bottom-nav div, .bottom-nav a {
    display: inline-block;
}
.back-icon {
    float: left;    margin-top: 2px;
}
.bottom-nav div, .bottom-nav a {
    display: inline-block;
}
.publish {
    width: 69%;
    padding-top: 5px;
}
.unpublish {
    background-color: #afafaf !important;
}
.publish a {
    display: inline-block;
    font-size: 14px;
    background-color: #1ea4f2;
    color: #fff;
    width: 100%;
    border-radius: 5px;
    line-height: 34px;
}
.user-center {
    float: right;
    margin-top: 3px;
}
.user-center a {
    background-image: url(../../images/community/user1.png);
}
/* 点赞 */
.like-btn{float: right;}
.like-btn a{width: 40px;height: 40px;background-repeat: no-repeat;background-position: center;background-image: url(../../images/community/zan.png);}
.liked a{background-image: url(../../images/community/zaned.png);}
.back-icon a, .user-center a {width: 40px;height: 40px;background-size: 100%;background-position: center;}
.back-icon a {background-image: url(../../images/community/back1.png);background-size: 95%;}
/* 底部发布按钮结束--- */

/* 用户头像开始-- */
.user-head-box{text-align:left;height:68px;padding: 10px 10px 10px 0;border-bottom: 1px solid #e5e5e5;}
.head-pic{display: inline-block;width:50px;height: 50px;float: left; }
.head-pic img{border-radius:24px; overflow: hidden;}

.user-des{display:inline-block;    margin-left: 10px;}
.user-des .name{line-height: 28px;    font-size: 14px;    display: inline-block;text-align: left;}
.lever-icon{text-align:left;}
.level{
    display: inline-block;
    width: 51px;
    height: 13px;
    background-size: 100%;
    border-radius: 3px;
    background-image: url(http://qxhome.test.q-dazzle.com/common/images/vip/btnimg1.png);}
.level1{background-position: 0px -18px;}

/* 用户头像结束-- */
/* 点击图片弹出大图 */
 /*查看大图css*/
.big-img-mask{
    display:none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}
.big-img-mask .rec_tip{
    width:100%;
    height:100%;
    overflow: hidden;
}
.hor {
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-orient: horizontal;
    -ms-flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -ms-flex-align: center
}

.ver {
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -ms-flex-align: center
}
/* 点击头像弹出大图结束*/

.discuss-box span {
    float: left;
    width: 20px;
    height: 20px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.discuss-box i {
    display: inline-block;
}
.discuss-box .read-num span {
    background-image: url(../../images/community/look.png);
    background-size: 125%;
}
.discuss-box .discuss-num span {
    background-image: url(../../images/community/pinglun.png);
}
.discuss-box .like-num span {
    background-image: url(../../images/community/zan.png);
}

.liked-num span{background-image: url(../../images/community/zaned.png)!important;}

.discuss-con {margin-left: 60px;}
.discuss-con .like-num {padding-right: 10px;height: 20px;line-height: 20px;}
/*  display:-webkit-flex;display: flex;display:-webkit-box;display: -moz-box;display:-ms-flexbox;display: flex;justify-content: space-between; */
.discuss-user {line-height: 37px;text-align: left;}
.discuss-user .user-name,.discuss-user .user-name-18{display: inline-block;}
.discuss-user .user-floor,.discuss-user .data{float: right;}

.discuss-text {text-align: left;color: #949494;font-size: 16px;
}
.discuss-img-box {text-align: left;vertical-align: middle;
}
.discuss-box div {display: inline-block;}
.discuss-img {width: 100px;height: 100px;margin: 5px;display: inline-block;border: 1px solid #e5e5e5;overflow: hidden;box-sizing: content-box;
}
.discuss-img img {display: inline-block;vertical-align: middle;
}

/* 重写alert */
.tip_wrap{position: absolute;width: 100%;z-index: 9999;text-align: center;}
.tip_content{color: #fff;line-height: 35px;display: inline-block;background-color:rgba(0, 0, 0, 0.4);padding: 0 20px;border-radius:8px;font-size: 15px;    margin: 0 auto;}


/* 加载中 */
 .load-container {
    border: 1px solid rgba(255, 255, 255, 0.2);
    width: 100%;
    height: 240px;
    float: left;
    position: relative;
    overflow: hidden;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.load7 .loader {
    margin: 8em auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;

}
.load7 .loader:before, .load7 .loader:after, .load7 .loader {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.8s infinite ease-in-out;
    animation: load7 1.8s infinite ease-in-out;

}
.loader {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}
 
 .load7 .loader:before,

.load7 .loader:after,

.load7 .loader {

  border-radius: 50%;

  width: 1.8em;

  height: 1.8em;

  -webkit-animation-fill-mode: both;

  animation-fill-mode: both;

  -webkit-animation: load7 1.8s infinite ease-in-out;

  animation: load7 1.8s infinite ease-in-out;


}

.load7 .loader {

  margin: 8em auto;

  font-size: 10px;

  position: relative;

  text-indent: -9999em;

  -webkit-animation-delay: -0.16s;

  animation-delay: -0.16s;


}

.load7 .loader:before {

  left: -3.5em;

  -webkit-animation-delay: -0.32s;

  animation-delay: -0.32s;


}

.load7 .loader:after {

  left: 3.5em;

}

.load7 .loader:before,

.loader:after {

  content: '';

  position: absolute;

  top: 0;

}

@-webkit-keyframes load7 {

  0%,

  80%,

  100% {

    box-shadow: 0 2.5em 0 -1.3em #1ea4f2;

  }

  40% {

    box-shadow: 0 2.5em 0 0 #1ea4f2;

  }

}

@keyframes load7 {

  0%,

  80%,

  100% {

    box-shadow: 0 2.5em 0 -1.3em #1ea4f2;

  }

  40% {

    box-shadow: 0 2.5em 0 0 #1ea4f2;

  }

}


.uncontent{    text-align: center; font-size: 12px;}